@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Đổi mật khẩu";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div class="container-fluid bg-dark mb-30">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-transparent mb-0">
                <a class="breadcrumb-item" asp-controller="Home" asp-action="Index">Trang chủ</a>
                <a class="breadcrumb-item" asp-area="Identity" asp-page="/Account/Manage/Index">Tài khoản</a>
                <span class="breadcrumb-item active">@ViewData["Title"]</span>
            </nav>
        </div>
    </div>
</div>
<div class="container-fluid pt-5 pb-3">
    <div class="row px-xl-5">

        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>

        <div class="col-md-9">

            @* <h4>@ViewData["Title"]</h4> *@ 
            
            <partial name="_StatusMessage" for="StatusMessage" />

            <div class="row">
                <div class="col-md-8">
                    <form id="change-password-form" method="post" class="bg-light p-30">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                        <div class="form-group mb-3">
                            <label asp-for="Input.OldPassword" class="form-label"></label>
                            <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Nhập mật khẩu cũ..." />
                            <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="Input.NewPassword" class="form-label"></label>
                            <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Nhập mật khẩu mới..." />
                            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Xác nhận mật khẩu mới..." />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-primary">Cập nhật mật khẩu</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}