@using Microsoft.AspNetCore.Identity

@* Inject 2 dịch vụ này *@
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@* THÊM KHỐI KIỂM TRA NÀY *@
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                @* Chỉ lấy tên KHI đã đăng nhập *@
                @UserManager.GetUserName(User)
            </span>
            <img class="img-profile rounded-circle"
                 src="~/admin/img/undraw_profile.svg">
        </a>

        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
             aria-labelledby="userDropdown">
            <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">
                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                Hồ sơ
            </a>

            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                Đăng xuất
            </a>
        </div>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-gray-600" asp-area="Identity" asp-page="/Account/Login">
            Đăng nhập
        </a>
    </li>
}