@{
    ViewData["Title"] = "Chính Sách Đổi Trả";
}

<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 200px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Chính Sách Đổi Trả</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a asp-controller="Home" asp-action="Index">Trang chủ</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Đổi trả</p>
        </div>
    </div>
</div>

<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <div class="col-lg-12 mb-5">

            <h4 class="font-weight-semi-bold mb-4">1. Đổi trả hàng khi sản phẩm lỗi</h4>
            <p>Vui lòng kiểm tra điều kiện đổi trả bên dưới. Đóng gói sản phẩm và toàn bộ phụ kiện đi kèm gửi về trung tâm giao hàng theo hướng dẫn. Sau khi tiếp nhận, khách hàng sẽ được đổi sản phẩm mới.</p>

            <h5 class="font-weight-bold mt-4">Điều kiện:</h5>
            <ul>
                <li>Khi giao nhầm màu, nhầm kích cỡ, nhầm sản phẩm hoặc sản phẩm bị hư hỏng do nhà sản xuất.</li>
                <li>Khách hàng gửi hình ảnh sản phẩm nhận được kèm mã đơn hàng đến email: <strong>chamsockhachhang@ntnstore.com.vn</strong>.</li>
                <li>Sản phẩm đổi phải còn mới 100%, chưa qua sử dụng hoặc giặt tẩy, còn phiếu bảo hành, tem nhãn, đầy đủ bao bì hộp túi.</li>
                <li>Có hóa đơn giao hàng hoặc thông tin đơn hàng hợp lệ.</li>
                <li>Thời gian đổi trả: <strong>7 ngày</strong> kể từ ngày nhận hàng.</li>
                <li>Trừ các trường hợp trên, cửa hàng không xử lý các yêu cầu đổi hàng khác.</li>
            </ul>

            <h5 class="font-weight-bold mt-4">Lưu ý:</h5>
            <ul>
                <li>Địa điểm gửi đổi hàng sẽ được cung cấp qua email sau khi khách hàng liên hệ.</li>
                <li>Khi sản phẩm lỗi được gửi về nhưng hết hàng, khách có thể đổi sang sản phẩm khác có giá trị lớn hơn hoặc bằng (bù tiền nếu chênh lệch cao hơn, không hoàn lại nếu thấp hơn).</li>
            </ul>

            <h4 class="font-weight-semi-bold mt-5 mb-4">2. Chi phí vận chuyển</h4>
            <ul>
                <li><strong>Lỗi từ ntnstore (giao sai kích cỡ, sai sản phẩm, lỗi vận chuyển hoặc lỗi sản xuất):</strong> khách hàng được miễn phí hoàn toàn phí vận chuyển đổi hàng. Khách gửi sản phẩm trong vòng 7 ngày (không tính T7 – CN) và chọn hình thức “người nhận thanh toán”.</li>
                <li><strong>Lỗi từ khách hàng (đặt sai sản phẩm,...):</strong> mọi phí vận chuyển hai chiều do khách hàng chi trả.</li>
            </ul>

            <h4 class="font-weight-semi-bold mt-5 mb-4">3. Hình thức đổi sản phẩm</h4>
            <ul>
                <li>Sản phẩm chỉ được đổi <strong>một lần duy nhất</strong>.</li>
                <li>
                    Gửi sản phẩm về địa chỉ:<br />
                    <strong>
                        286 Lĩnh Nam , Hoàng Mai , Hà Nội<br />
                        (Người nhận: KHO ONLINE NTN STORE)<br />
                        SĐT: 0988888888
                    </strong>
                </li>
                <li>Thông tin dán bên ngoài hộp phải ghi rõ <strong>MÃ ĐƠN HÀNG</strong>.</li>
                <li>Vui lòng chọn hình thức: <strong>Cho người nhận xem hàng trước</strong>.</li>
            </ul>

            <h4 class="font-weight-semi-bold mt-5 mb-4">4. Thời gian xử lý</h4>
            <p>Sau khi nhận được sản phẩm đổi trả, Biti’s sẽ kiểm tra và xử lý trong vòng <strong>7 ngày làm việc</strong>.</p>

        </div>
    </div>
</div>
