@{
    ViewData["Title"] = "Chính Sách Bảo Hành";
}

<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 200px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Chính Sách Bảo Hành</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a asp-controller="Home" asp-action="Index">Trang chủ</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Bảo hành</p>
        </div>
    </div>
</div>

<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <div class="col-lg-12 mb-5">
            <h4 class="font-weight-semi-bold mb-4">Chế độ bảo hành trọn đời</h4>
            <p>Tại NTN Shoe Store, chúng tôi cam kết chất lượng sản phẩm chính hãng. Chế độ bảo hành áp dụng cho:</p>
            <ul>
                <li>Bảo hành keo dán trọn đời cho tất cả các dòng Sneaker.</li>
                <li>Bảo hành đường chỉ may trong vòng 6 tháng đầu tiên.</li>
            </ul>

            <h4 class="font-weight-semi-bold mb-4 mt-5">Trường hợp không được bảo hành</h4>
            <ul>
                <li>Giày bị hư hỏng do tác động vật lý (chó cắn, cắt rách, hơ lửa...).</li>
                <li>Giày bị hao mòn tự nhiên trong quá trình sử dụng (mòn đế).</li>
                <li>Giày đã qua sửa chữa tại các cơ sở khác không thuộc hệ thống NTN Store.</li>
            </ul>
        </div>
    </div>
</div>