<div class="container-fluid bg-dark text-secondary mt-5 pt-5">
    <div class="row px-xl-5 pt-5">

        <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
            <h5 class="text-secondary text-uppercase mb-4">NTN Shoe Store</h5>
            <p class="mb-4">Cửa hàng giày chính hãng – Cập nhật mẫu mới liên tục.</p>
            <p><i class="fa fa-map-marker-alt text-primary mr-2"></i>123 Street - Hà Nội</p>
            <p><i class="fa fa-envelope text-primary mr-2"></i>support@ntnstore.com</p>
            <p><i class="fa fa-phone-alt text-primary mr-2"></i>0988 888 888</p>
        </div>

        <div class="col-lg-8 col-md-12">
            <div class="row">

                <div class="col-md-4 mb-5">
                    <h5 class="text-secondary text-uppercase mb-4">Danh mục</h5>
                    <a class="text-secondary d-block mb-2" href="#">Sneaker</a>
                    <a class="text-secondary d-block mb-2" href="#">Giày chạy bộ</a>
                    <a class="text-secondary d-block mb-2" href="#">Giày đá bóng</a>
                    <a class="text-secondary d-block mb-2" href="#">Giày bóng rổ</a>
                </div>

                <div class="col-md-4 mb-5">
                    <h5 class="text-secondary text-uppercase mb-4">Hỗ trợ</h5>
                    <a class="text-secondary d-block mb-2" href="#">Đổi trả</a>
                    <a class="text-secondary d-block mb-2" href="#">Bảo hành</a>
                    <a class="text-secondary d-block mb-2" href="#">Vận chuyển</a>
                    <a class="text-secondary d-block mb-2" href="#">Liên hệ</a>
                </div>

                <div class="col-md-4 mb-5">
                    <h5 class="text-secondary text-uppercase mb-4">Đăng ký nhận tin</h5>
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Email của bạn">
                            <div class="input-group-append">
                                <button class="btn btn-primary">Gửi</button>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex mt-3">
                        <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-instagram"></i></a>
                        <a class="btn btn-primary btn-square" href="#"><i class="fab fa-tiktok"></i></a>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="row border-top mx-xl-5 py-4">
        <div class="col-md-6 text-center text-md-left">
            © 2025 NTN Shoe Store. All Rights Reserved.
        </div>
        <div class="col-md-6 text-center text-md-right">
            <img class="img-fluid" src="~/img/payments.png" alt="">
        </div>
    </div>
</div>
